---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>大学社团网</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="nav">
		<ul class="uu-nav">
			<li class="logo">大学社团网</li>
			<li class="nav-lists active"><a href="index.html">首页</a> </li>
			<li class="nav-lists"><a href="about.html">关于我们</a> </li>
			<li class="nav-lists"><a href="activities.html">社团活动</a> </li>
			<li class="nav-lists"><a href="members.html">成员介绍</a> </li>
			<li class="ico">三</li>
		</ul>
		<ul class="uu-lists">
			<li><a href="index.html">首页</a> </li>
			<li><a href="about.html">关于我们</a> </li>
			<li><a href="activities.html">社团活动</a> </li>
			<li><a href="members.html">成员介绍</a> </li>
		</ul>
	</div>
	<header>
		<div id="benner">
			<div class="img">
				<img src="img/11.png" class="imga active">
				<img src="img/22.png" class="imga">
				<img src="img/33.png" class="imga">
				<img src="img/44.png" class="imga">
				<img src="img/55.png" class="imga">
			</div>
			<ul class="title">
				<li class="nr active"></li>
				<li class="nr"></li>
				<li class="nr"></li>
				<li class="nr"></li>
				<li class="nr"></li>
			</ul>
		</div>
	</header>
	<nav>
		<h3>关于我们</h3>
		<p>我们是一个充满活力和创造力的大学社团，致力于丰富学生的课外生活，促进文化交流和个人成长。在这里，你可以结交志同道合的朋友，参与各种有趣的活动，展示你的才华和能力。</p>
	</nav>
	<div class="wrap">
		<h3>特色服务</h3>
		<ul class="wrap-uu">
			<li>
				<h2>丰富的活动</h2>
				<p>我们定期举办各种活动，包括讲座、工作坊、比赛和社交聚会，让每一位成员都能找到自己的兴趣所在。</p>
			</li>
			<li>
				<h2>专业的指导</h2>
				<p>社团邀请了多位专业人士和校友为成员提供指导和培训，帮助大家在各自的领域中取得进步。</p>
			</li>
			<li>
				<h2>社区服务</h2>
				<p>我们积极参与社区服务活动，鼓励成员们用实际行动回馈社会，提升自身的社会责任感。</p>
			</li>
			<li>
				<h2>资源共享</h2>
				<p>社团提供丰富的资源和平台，包括图书、设备和场地，支持成员们的学习和创作。</p>
			</li>
			<li>
				<h2>团队合作</h2>
				<p>我们注重团队合作精神，通过各种团队活动和项目，培养成员们的协作能力和领导力。</p>
			</li>
			<li>
				<h2>个人发展</h2>
				<p>社团关注每一位成员的个人发展，提供多种机会和平台，帮助大家实现自己的目标和梦想。</p>
			</li>
		</ul>
	</div>

	<div class="news ">
		<ul class="min-width">
			<li>
				<div class="news-img">
					<img src="img/h1.png" />
				</div>
				<h4>近期活动</h4>
				<p>我们最近举办了多场精彩的活动，包括文化节、学术讲座和体育比赛，受到了广大师生的热烈欢迎。</p>
			</li>
			<li>
				<div class="news-img">
					<img src="img/pu3.jpg" />
				</div>
				<h4>成员风采</h4>
				<p>我们的成员在各类比赛中取得了优异的成绩，展示了他们的才华和努力，成为校园中的闪亮明星。</p>
			</li>
			<li>
				<div class="news-img">
					<img src="img/h2.png" />
				</div>
				<h4>未来计划</h4>
				<p>我们正在筹备更多精彩的活动和项目，期待更多同学的加入，共同创造美好的校园生活。</p>
			</li>
		</ul>
	</div>
	<footer>
		<p>友情链接 <a href="#">大学官网</a> <a href="#">学生会</a> <a href="#">校友会</a> </p>
		<p>大学社团网 - 2024</p>
	</footer>
</body>

</html>
