---
import Layout from "../layouts/Layout.astro";
---

<Layout title="社团活动">
  <nav>
    <h3>社团活动</h3>
  </nav>

  <div class="heal min-width">
    <div class="heal-left">
      <img src="img/daren.jpg" />
    </div>
    <div class="heal-right">
      <h1>近期活动：</h1>
      <p>
        我们最近举办了多场精彩的活动，包括文化节、学术讲座和体育比赛，受到了广大师生的热烈欢迎。通过这些活动，我们不仅丰富了校园生活，还促进了同学们之间的交流与合作。
      </p>
      <strong>了解更多</strong>
    </div>
    <div class="heal-left">
      <img src="img/e.jpg" />
    </div>
    <div class="heal-right">
      <h1>即将举行的活动：</h1>
      <p>
        我们正在筹备更多精彩的活动，包括艺术展览、音乐会和志愿服务活动，期待更多同学的参与。通过这些活动，我们希望能为大家提供一个展示自我、结交朋友的平台。
      </p>
      <strong>了解更多</strong>
    </div>
  </div>
  <nav>
    <h3>活动回顾</h3>
  </nav>
  <div class="master min-width">
    <ul>
      <li>
        <img src="img/w1.png" />
        <div class="master-info">
          <h1 class="master-h1">文化节</h1>
          <p>
            我们的文化节活动丰富多彩，展示了校园内外的多元文化，吸引了众多师生参与。
          </p>
        </div>
      </li>
      <li>
        <img src="img/w2.png" />
        <div class="master-info">
          <h1 class="master-h1">学术讲座</h1>
          <p>
            我们邀请了多位专家学者为大家带来前沿的学术讲座，拓宽了同学们的知识面。
          </p>
        </div>
      </li>
      <li>
        <img src="img/w3.png" />
        <div class="master-info">
          <h1 class="master-h1">体育比赛</h1>
          <p>
            体育比赛不仅增强了同学们的体质，还促进了团队合作精神，受到了大家的喜爱。
          </p>
        </div>
      </li>
      <li>
        <img src="img/w4.png" />
        <div class="master-info">
          <h1 class="master-h1">志愿服务</h1>
          <p>
            我们的志愿服务活动得到了社会的广泛认可，同学们用实际行动回馈社会，提升了社会责任感。
          </p>
        </div>
      </li>
    </ul>
  </div>
</Layout>
