---
import Layout from "../layouts/Layout.astro";
---

<Layout title="成员介绍">
  <div class="cp-list min-width">
    <ul>
      <li>
        <div class="cp-img"><img src="img/pu1.jpg" /></div>
        <h4>李华</h4>
        <h3>社长</h3>
        <p>
          李华是我们社团的社长，来自计算机科学专业。他热爱编程和创新，带领社团举办了多次成功的活动，深受大家的喜爱和尊敬。
        </p>
        <strong>了解更多</strong>
      </li>
      <li>
        <div class="cp-img"><img src="img/pu2.jpg" /></div>
        <h4>张明</h4>
        <h3>副社长</h3>
        <p>
          张明是我们的副社长，来自市场营销专业。他擅长组织和协调工作，负责社团的宣传和活动策划，为社团的发展做出了重要贡献。
        </p>
        <strong>了解更多</strong>
      </li>
      <li>
        <div class="cp-img"><img src="img/pu3.jpg" /></div>
        <h4>王丽</h4>
        <h3>财务主管</h3>
        <p>
          王丽是我们的财务主管，来自会计专业。她负责社团的财务管理，确保每一笔资金都能合理使用，为社团的运营提供了坚实的保障。
        </p>
        <strong>了解更多</strong>
      </li>
      <li>
        <div class="cp-img"><img src="img/pu7.jpg" /></div>
        <h4>刘强</h4>
        <h3>活动策划</h3>
        <p>
          刘强是我们的活动策划，来自传媒专业。他富有创意，策划了许多有趣的活动，极大地丰富了社团成员的课外生活。
        </p>
        <strong>了解更多</strong>
      </li>
      <li>
        <div class="cp-img"><img src="img/pu8.jpg" /></div>
        <h4>陈静</h4>
        <h3>宣传负责人</h3>
        <p>
          陈静是我们的宣传负责人，来自新闻专业。她负责社团的宣传工作，通过各种渠道推广社团活动，提高了社团的知名度和影响力。
        </p>
        <strong>了解更多</strong>
      </li>
      <li>
        <div class="cp-img"><img src="img/pu9.jpg" /></div>
        <h4>赵鹏</h4>
        <h3>技术支持</h3>
        <p>
          赵鹏是我们的技术支持，来自信息技术专业。他负责社团的技术保障工作，确保每次活动的顺利进行，为社团的发展提供了强有力的支持。
        </p>
        <strong>了解更多</strong>
      </li>
    </ul>
  </div>
  <nav>
    <h3>详细介绍</h3>
  </nav>
  <div class="cp-info min-width">
		<div class="cp-info-left">
			<h3>李华 - 社长</h3>
			<p>李华是计算机科学专业的大四学生，担任社团社长已有两年。他热衷于技术创新和团队管理，带领社团在各类竞赛中屡获佳绩。李华的领导能力和奉献精神深受成员们的认可和尊敬。</p>
			<h3>主要成就：</h3>
			<p>
				1. 组织并主持了多次大型社团活动，包括编程马拉松、技术讲座等。</p>
			<p>2. 带领团队参加全国大学生创新创业大赛，获得一等奖。</p>
			<p>3. 推动社团与多家企业建立合作关系，为成员提供实习和就业机会。</p>
			<p>4. 积极参与校园公益活动，带领社团成员进行技术支援和志愿服务。</p>
			<p>5. 在校内外多次发表技术论文，分享创新成果。</p>
		</div>
		<div class="cp-info-right">
			<img src="img/pu5.jpg" />
		</div>
	</div>
</Layout>
